body 
{
    /* background-image:url("/images/pexels-toni-cuenca-585752.jpg"); image de fond du site*/
    background-color: #cccccc;
}
.logo 
{
    width: 7%;
    margin-bottom: 30px;
    margin-top:30px;
}
.top {
    font-size: 55px;
    margin-bottom: 30px;
    margin-top:30px;
}
.bouton a{
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    background:url(images/bouton-noir.png) no-repeat;
    color:white;
    text-decoration:none;

}
